body {
  /* font-family: 'Inter UI', sans-serif; */
  font-family: 'Gayathri', sans-serif;

}
.page {
 background: #2ecc71
    url("/../../../../../assets/images/image_home.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 937px;
  position: absolute;
  place-content: center;
  width: 100%;
}
.page::before {
 
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: #000000; /* IE Fallback */
    background: rgb(47 47 47 / 80%);
    width: 100%;
    height: 100%;
  }
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
    display: flex;
    height: 372px;
    width: 730px;
    margin: 170px 56%;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 735px;
    width: 432px;
    margin: 0 25px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
  border: 1px solid #cecece;
  color: #333333;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.info {
  text-align: justify;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  /* background: #474A59; */
  background: rgba(150,16,30,1);
  background: -moz-linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(150,16,30,1)), color-stop(100%, rgba(193,22,38,1)));
  background: -webkit-linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
  background: -o-linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
  background: linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96101e', endColorstr='#c11626', GradientType=1 );
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 44%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }

}
svg {
  position: absolute;
  width: 320px;

}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
  margin-top: 50px;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.input-login {
  font-family: 'Gayathri', sans-serif;
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}


.btn-login {
  font-family: 'Gayathri', sans-serif;
    background: transparent;
    border: 0;
    color: wheat;
    margin: 35px 58px;
    height: 40px;
    border: 0;
    border-radius: 0.1em;
    width: 56%;
    outline: none !important;
    font-size: 18px;
}

.btn-login:hover{
 cursor: pointer;
 color: white;
}

.btn-gruop {
      margin: -327px 121px 288px 225px;
}

.btnInicio{
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
    margin: -296px -61px 168px 187px;
}

.IconUser{
    width: 30px;
    margin-top: -17px;
}

.dropdown {
    text-decoration: none !important;
    list-style: none;
    width: 50px;
    height: 50px;
    background: rgba(150,16,30,1);
    background: -moz-linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(150,16,30,1)), color-stop(100%, rgba(193,22,38,1)));
    background: -webkit-linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
    background: -o-linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
    background: linear-gradient(45deg, rgba(150,16,30,1) 0%, rgba(193,22,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96101e', endColorstr='#c11626', GradientType=1 );
    -webkit-box-shadow: -1px -1px 31px -5px rgba(0,0,0,0.52);
    -moz-box-shadow: -1px -1px 31px -5px rgba(0,0,0,0.52);
    box-shadow: -1px -1px 31px -5px rgba(0,0,0,0.52);
    border-radius: 50%;
    border: 1px solid #7d0000;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-menu > a {
    text-decoration: none;
    color: #333333;
}

.dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #333333;
}

.menu-drop {
    padding: 15px;
    color: rgba(150,16,30,1);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(255, 210, 210);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgb(255, 210, 210);
   opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:rgb(255, 210, 210);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(255, 210, 210);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
    visibility: visible;
}

.tooltip.top .tiptext{
    margin-left: -60px;
    bottom: 150%;
    left: 50%;
}
.tooltip.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: #2E2E2E transparent transparent transparent;
}