<div class="contenedor-form">
    <h1 class="titleForm">Umbrales</h1>
    <form method="get" [formGroup]="umbralFrom">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Valor mínimo</label>
                <input type="number" class="form-control" id="inputEmail4" placeholder="valor mínimo" formControlName="TemperaturaMin">
                 <span class="help-block validationSpan"
                    *ngIf="umbralFrom.controls['TemperaturaMin'].errors?.required && 
                            (umbralFrom.controls['TemperaturaMin'].dirty || umbralFrom.controls['TemperaturaMin'].touched)">
                    El valor minimo es obligatorio.
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Valor máximo</label>
                <input type="number" class="form-control" id="inputEmail4" placeholder="valor máximo" formControlName="TemperaturaMax">
                 <span class="help-block validationSpan"
                    *ngIf="umbralFrom.controls['TemperaturaMax'].errors?.required && 
                            (umbralFrom.controls['TemperaturaMax'].dirty || umbralFrom.controls['TemperaturaMax'].touched)">
                    El valor maximo es obligatorio.
                </span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Tolerancia mínima</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="tolerancia mínima" formControlName="ToleranciaMin">
                 <span class="help-block validationSpan"
                    *ngIf="umbralFrom.controls['ToleranciaMin'].errors?.required && 
                            (umbralFrom.controls['ToleranciaMin'].dirty || umbralFrom.controls['ToleranciaMin'].touched)">
                    La tolerancia mínima es obligatoria.
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Tolerancia máxima</label>
                <input type="number" class="form-control" id="inputEmail4" placeholder="tolerancia máxima" formControlName="ToleranciaMax">
                 <span class="help-block validationSpan"
                    *ngIf="umbralFrom.controls['ToleranciaMax'].errors?.required && 
                            (umbralFrom.controls['ToleranciaMax'].dirty || umbralFrom.controls['ToleranciaMax'].touched)">
                    La tolerancia máxima es obligatoria.
                </span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Dispositivo</label>
                  <select class="form-control" formControlName="IdDispositivo">
                        <option value="">-- Seleccione --</option>
                        <option *ngFor="let dataDispositivo of DataDispositivo" [value]="dataDispositivo.IdDispositivo">
                            {{dataDispositivo.Nombre}}
                        </option>
                    </select>
                 <span class="help-block validationSpan"
                    *ngIf="umbralFrom.controls['IdDispositivo'].errors?.required && 
                            (umbralFrom.controls['IdDispositivo'].dirty || umbralFrom.controls['IdDispositivo'].touched)">
                    El dispositivo es obligatorio.
                </span>
            </div>
        </div>
         <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-6 col-md-12 col-lg-1">
                    <button type="submit"  class="btn btn-danger backOscuro" [disabled]="activarActualizar" (click)="CrearUmbral()">Guardar</button>
                </div>

                <div class="form-group col-xs-6 col-md-12 col-lg-1" style="margin-right: 12px;">
                    <button type="submit"  class="btn btn-warning backNaranja"  [disabled]="!activarActualizar" (click)="ActualizarUmbral()">Actualizar</button>
                </div>

                <div class="form-group col-xs-6 col-md-12 col-lg-9">
                    <button type="submit"  class="btn btn-warning backNaranja" (click)="LimpiarFormulario()">Limpiar</button>
                </div>
            </div>
         </div>
    </form>
    <br>
    <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="DataUmbral.length <= 0">
        <br>
        <div class="alert alert-secondary" role="alert">
            No hay registros
        </div>
    </div>
    
    <table class="table" *ngIf="DataUmbral.length > 0">
        <thead class="thead-light">
            <tr>
                <th scope="col">Vrl. Mínimo</th>
                <th scope="col">Vrl. Máximo</th>
                <th scope="col">Trl. Mínima</th>
                <th scope="col">Trl. Máxima</th>
                <th scope="col">Dispositivo</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let itemUmbral of DataUmbral; let i=index">
            <tr >
                <td scope="row">{{itemUmbral.TemperaturaMin}}</td>
                <td>{{itemUmbral.TemperaturaMax}}</td>
                <td>{{itemUmbral.ToleranciaMin}}</td>
                <td>{{itemUmbral.ToleranciaMax}}</td>
                <td>{{itemUmbral.IdDispositivo.Nombre}}</td>
                <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal"
                    data-target="#ModelDetalleCuenta" (click)="MappearUmbral(itemUmbral)">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal"
                    data-target="#ModelDetalleCuenta" (click)="EliminarUmbral(itemUmbral.IdUmbral)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </tr>

        </tbody>
    </table>
</div>