

<div class="contenedor-form">
    <h1 class="titleForm">Empresas</h1>
    <form method="get" [formGroup]="empresaFrom">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre empresa</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="nombre empresa" formControlName="Nombre">
                 <span class="help-block validationSpan"
                    *ngIf="empresaFrom.controls['Nombre'].errors?.required && 
                            (empresaFrom.controls['Nombre'].dirty || empresaFrom.controls['Nombre'].touched)">
                    El nombre empresa es obligatorio.
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Correo</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="correo" formControlName="Correo">
                 <span class="help-block validationSpan"
                    *ngIf="empresaFrom.controls['Correo'].errors?.required && 
                            (empresaFrom.controls['Correo'].dirty || empresaFrom.controls['Correo'].touched)">
                    El Correo es obligatorio.
                </span>
                    <span class="help-block validationSpan"
                    *ngIf="empresaFrom.controls['Correo'].errors?.pattern && 
                            (empresaFrom.controls['Correo'].dirty || empresaFrom.controls['Correo'].touched)">
                    El Email ingresado no tiene el formato correcto.
                </span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Abrebiatura</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="abrebiatura" formControlName="Abr_Empresa">
                 <span class="help-block validationSpan"
                    *ngIf="empresaFrom.controls['Abr_Empresa'].errors?.required && 
                            (empresaFrom.controls['Abr_Empresa'].dirty || empresaFrom.controls['Abr_Empresa'].touched)">
                    La Abr_Empresa es obligatoria.
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nit</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="nit" formControlName="Nit">
                 <span class="help-block validationSpan"
                    *ngIf="empresaFrom.controls['Nit'].errors?.required && 
                            (empresaFrom.controls['Nit'].dirty || empresaFrom.controls['Nit'].touched)">
                    El Nit es obligatorio.
                </span>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="activoCheck" formControlName="Activo">
                    <label class="form-check-label" for="activoCheck">
                        Actvio
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="correoCheck" formControlName="NotificaPorCorreo">
                    <label class="form-check-label" for="correoCheck">
                        Notificación por correo
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="MSMCheck" formControlName="NotificaPorMSM">
                    <label class="form-check-label" for="MSMCheck">
                        Notificacion por MSM
                    </label>
                </div>
            </div>
        </div>
          <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-6 col-md-12 col-lg-1">
                    <button type="submit"  class="btn btn-danger backOscuro" (click)="GuardarEmpresa()">Guardar</button>
                </div>

                <div class="form-group col-xs-6 col-md-12 col-lg-1" style="margin-right: 12px;">
                    <button type="submit"  class="btn btn-warning backNaranja"  [disabled]="!activarActualizar" (click)="ActualizarEmpresa()">Actualizar</button>
                </div>

                <div class="form-group col-xs-6 col-md-12 col-lg-9">
                    <button type="submit"  class="btn btn-warning backNaranja" (click)="LimpiarFormulario()">Limpiar</button>
                </div>
            </div>
         </div>
    </form>
 
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"># Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Abrebiatura</th>
                <th scope="col">Nit</th>
                <th scope="col">Correo</th>
                <th scope="col">Estado</th>
                <th scope="col">Not. Correo</th>
                <th scope="col">Not. MSM</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let itemEmpresa of DataEmpresa; let i=index">
            <tr>
                <td scope="row">{{itemEmpresa.IdEmpresa}}</td>
                <td>{{itemEmpresa.Nombre}}</td>
                <td>{{itemEmpresa.Abr_Empresa}}</td>
                <td>{{itemEmpresa.Nit}}</td>
                <td>{{itemEmpresa.Correo}}</td>
                <td>
                    {{itemEmpresa.Activo}}
                </td>
                <td>{{itemEmpresa.NotificaPorCorreo}}</td>
                <td>{{itemEmpresa.NotificaPorMSM}}</td>
                <td>
                    <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal"
                        data-target="#ModelDetalleCuenta" (click)="MappearEmpresa(itemEmpresa)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal"
                        data-target="#ModelDetalleCuenta" (click)="EliminarEmpresa(itemEmpresa.IdEmpresa)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
                
            </tr>

        </tbody>
    </table>
</div>

