
<div class="col-xs-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="contenedor-img">
            <img src="/../../../../../assets/images/image_home.jpg" alt="">
        </div>
       
         <div class="contenedor-fomulario">
            <div class="form-contact">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-10" id="ta">
                                <span class="title_from_contact">
                                    Registrar Usuarios
                                </span> 
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-2" id="ta" (click)="returnBack()" style="text-align: right;">
                               <Label>X</Label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-md-6 col-lg-12" id="ta">
                        <div class="from-input" data-validate="Name is required">
                            <input class="input-from" type="text" name="name" placeholder="Nombre...">
                            <span class="focus-input-from"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-12" id="ta">
                        <div class="from-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input class="input-from" type="password" name="email" placeholder="Contraseña...">
                            <span class="focus-input-from"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-12" id="ta">
                        <div class="from-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input class="input-from" type="text" name="email" placeholder="Télefono...">
                            <span class="focus-input-from"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-12" id="ta">
                        <div class="from-input">
                            <select class="input-from" name="" id="">
                                <option value="0" disabled selected>Seleccióne Perfil...</option>
                            </select>
                            <span class="focus-input-from"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-12" id="ta">
                    <div class="from-input">
                        <select class="input-from" name="" id="">
                            <option value="0" disabled selected>Seleccióne Empresa...</option>
                            <option *ngFor="let dataEmpresa of DataEmpresa" [value]="dataEmpresa.IdOperaciones">
                                {{dataEmpresa.Nombre}}
                            </option>
                        </select>
                        <span class="focus-input-from "></span>
                    </div>
                    </div>
                   
                    <div>
                        <input type="submit" class="btn-register" value="Guardar">
                    </div>
            </div>
        </div>
    </div>
</div>





