
<div class="contenedor-form">
    <h1>Sedes</h1>
    <form method="get" [formGroup]="sedesFrom">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre sede</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="nombre sede" formControlName="Nombre">
                 <span class="help-block validationSpan"
                    *ngIf="sedesFrom.controls['Nombre'].errors?.required && 
                            (sedesFrom.controls['Nombre'].dirty || sedesFrom.controls['Nombre'].touched)">
                    El nombre de la sede es obligatorio.
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Empresa</label>
                <select class="form-control" formControlName="IdEmpresa">
                    <option value="">-- Seleccione --</option>
                    <option *ngFor="let dataEmpresa of DataEmpresa" [value]="dataEmpresa.IdEmpresa">
                        {{dataEmpresa.Nombre}}
                    </option>
                </select>
                  <span class="help-block validationSpan"
                    *ngIf="sedesFrom.controls['IdEmpresa'].errors?.required && 
                            (sedesFrom.controls['IdEmpresa'].dirty || sedesFrom.controls['IdEmpresa'].touched)">
                    La empresa es obligatoria.
                </span>
            </div>
        </div>

       <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="form-group col-xs-6 col-md-12 col-lg-1">
                    <button type="submit"  class="btn btn-danger backOscuro" (click)="GuardarSede()">Guardar</button>
                </div>

                <div class="form-group col-xs-6 col-md-12 col-lg-1" style="margin-right: 12px;">
                    <button type="submit"  class="btn btn-warning backNaranja"  [disabled]="!activarActualizar" (click)="ActualizarSede()">Actualizar</button>
                </div>

                <div class="form-group col-xs-6 col-md-12 col-lg-9">
                    <button type="submit"  class="btn btn-warning backNaranja" (click)="LimpiarFormulario()">Limpiar</button>
                </div>
            </div>
         </div>
    </form>
    <br>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"># Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Empresa</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let itemSedes of DataSedes; let i=index">
            <tr>
                <td scope="row">{{itemSedes.IdSede}}</td>
                <td>{{itemSedes.Nombre}}</td>
                <td>{{itemSedes.IdEmpresa}}</td>
            
                <td>
                    <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal"
                        data-target="#ModelDetalleCuenta" (click)="MappearEmpresa(itemSedes)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal"
                        data-target="#ModelDetalleCuenta" (click)="EliminarSede(itemSedes.IdSede)">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
