@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background:none;
    font-family: 'Gayathri', sans-serif;
    background-image: url(assets/images/patron-02.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 134% 404%;
}

.validationSpan{
    color: #DF0101;
}