
.contenedor-form {
    margin: -3% auto;
    width: 60%;
    border: 1px solid #E1E1E1;
    border-radius: 0.2em;
    padding: 25px;
    margin-bottom: 100px;
}

.titleForm {
   color: rgba(150,16,30,1);
}

.backOscuro {
    background: rgba(150,16,30,1); 
    border-color:  rgba(150,16,30,1);
}