<app-header></app-header>

<div class="contenedor-form">
    <app-dispositvos-config></app-dispositvos-config>
    <!-- <h1 class="titleForm">Dispositivos</h1> -->
    <!-- <form method="get" [formGroup]="dispositivoFrom">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre </label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="nombre dispositivo" formControlName="Nombre">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Medida</label>
                <select class="form-control" formControlName="IdTipoMedida" (change)="GetAllSedes()">
                    <option value="">-- Seleccione --</option>
                    <option *ngFor="let dataMedidas of DataMedidas" [value]="dataMedidas.IdTipoMedida">
                        {{dataMedidas.Nombre}}
                    </option>
                </select>
             
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Empresa</label>
                <select class="form-control" formControlName="Empresa" (change)="GetAllSedes()">
                    <option value="">-- Seleccione --</option>
                    <option *ngFor="let dataEmpresa of DataEmpresa" [value]="dataEmpresa.IdEmpresa">
                        {{dataEmpresa.Nombre}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Sede</label>
                <select class="form-control" formControlName="IdSede" >
                      <option value="">-- Seleccione --</option>
                    <option *ngFor="let dataSede of DataSedes" [value]="dataSede.IdSede">
                        {{dataSede.Nombre}}
                    </option>
                </select>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPassword4">Tiempo notificación</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="tiempo notificacion" formControlName="TiempoNotificacion">
            </div>
            <div class="form-group col-md-6">
                <div class="form-check" style="margin-top: 50px; margin-left: 5px;">
                    <input class="form-check-input" type="checkbox" id="activoCheck" formControlName="Estado">
                    <label class="form-check-label" for="activoCheck">
                        Actvio
                    </label>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-danger backOscuro">Guardar</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dispositivo</th>
                <th scope="col">Tipo medida</th>
                <th scope="col">Sede</th>
                <th scope="col">Timpo notificación</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let itemDispo of DataDispositivos; let i=index">
            <tr>
                <td scope="row">{{itemDispo.IdDispositivo}}</td>
                <td>{{itemDispo.Nombre}}</td>
                <td>{{itemDispo.IdTipoMedida}}</td>
                <td>{{itemDispo.IdSede}}</td>
                <td>{{itemDispo.TiempoNotificacion}}</td>
                <td>
                    {{itemDispo.Activo}}
                </td>
            </tr>
        </tbody>
    </table> -->
</div>

<app-footer></app-footer>