
<app-header></app-header>

<div class="contenedor-form">
    <div class="ac">
        <input class="ac-input" id="ac-1" name="ac-1" type="checkbox" />
        <label class="ac-label" for="ac-1">Crear empresas</label>
        <article class="ac-text">
            <div class="table-responsive scrollTabla">
               <app-empresas-config></app-empresas-config>
             </div>
        </article>
    </div>   
      <div class="ac">
        <input class="ac-input" id="ac-2" name="ac-2" type="checkbox" />
        <label class="ac-label" for="ac-2">Crear Sedes</label>
        <article class="ac-text">
            <div class="table-responsive scrollTabla ">
                <app-sedes-config></app-sedes-config>
            </div>
       </article>
    </div>
     <div class="ac">
        <input class="ac-input" id="ac-3" name="ac-3" type="checkbox" />
        <label class="ac-label" for="ac-3">Crear umbral</label>
        <article class="ac-text">
            <div class="table-responsive scrollTabla ">
               <app-umbral-config></app-umbral-config>
            </div>
       </article>
    </div>
    <div class="ac">
        <input class="ac-input" id="ac-4" name="ac-4" type="checkbox" />
        <label class="ac-label" for="ac-4">Crear dispositivos</label>
        <article class="ac-text">
            <div class="table-responsive scrollTabla ">
               <app-dispositvos-config></app-dispositvos-config>
            </div>
       </article>
    </div>
</div>

<app-footer></app-footer>
