
    <div class="contenedorlogo">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-md-2 col-lg-2">
                    <a href="" class="logoIntel"><img class="logo" src="../../../../assets/images/LogoIntelControl-2.png"
                            alt="logo Intel control"></a>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-8" style="text-align: center;">
                    <a href="" class="logoIntel"><img class="logoTemp" src="../../../../assets/images/Logo_tempsense-02.svg"
                            alt="logo Intel control"></a>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 btnInicio">
                    <div class="btn-group">
                        <li class="dropdown" dropdown>
                            <a dropdownToggle role="button">
                                <img class="IconUser" src="../../../../assets/images/Usuario.svg" alt="usuario Intel control">
                            </a>
                            <ul *dropdownMenu class="dropdown-menu">
                                <li><a href="#" class="menu-drop">Perfil</a></li>
                                <li><a href="#" class="menu-drop">Cerrar Sesion</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="contenedorPpal">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">

                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div id="imgen">
                        <a href="" class="btn1"><img class="bussines-img-all bussines-img1 " src="../../../../assets/images/Tablero.svg"
                                alt="bussines"></a>
                        <div id="info">
                            <p id="headline">Tablero</p>
                            <p id="infoInt">Contamos con un tablero de control informativo de los dispositivos instalados, donde puedes ver el nombre de la empresa,
                            el nombre del dispositivo y la temperatura en tiempo real.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div id="imgen">
                        <a href="" class="btn2"><img class="bussines-img-all bussines-img2 " src="../../../../assets/images/Empresa.svg"
                                alt="bussines"></a>
                        <div id="info">
                            <p id="headline">Empresa</p>
                            <p id="infoInt">Registra tu empresa con nit y activa notificaciones por correo y por sms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div id="imgen">
                        <a href="" class="btn3"><img class="bussines-img-all bussines-img3 " src="../../../../assets/images/Dispositivo.svg"
                                alt="bussines"></a>
                        <div id="info">
                            <p id="headline">Dispositivo</p>
                            <p id="infoInt">Al crear un dispositivo se genera un identificador para el envio de mensajes.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div id="imgen">
                        <a href="" class="btn5"><img class="bussines-img-all bussines-img4 " src="../../../../assets/images/Usuario.svg"
                                alt="bussines"></a>
                        <div id="info">
                            <p id="headline">Usuarios</p>
                            <p id="infoInt">Registra tus datos personales.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div id="imgen">
                        <a href="" class="btn6"><img class="bussines-img-all bussines-img5 " src="../../../../assets/images/Reporte.svg"
                                alt="bussines"></a>
                        <div id="info">
                            <p id="headline">Reportes</p>
                            <p id="infoInt">Por medio de informes gráficos y tablas, tienes la trazabilidad de la temperatura en la nevera, el usuario deberá
                            seleccionar el dispositivo y el rango de las fechas para generar la temperatura que el sensor obtuvo.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <div id="imgen">
                        <a href="" class="btn7"><img class="bussines-img-all bussines-img6 " src="../../../../assets/images/Umbral.svg"
                                alt="bussines"></a>
                        <div id="info">
                            <p id="headline">Umbral</p>
                            <p id="infoInt">Configura la temperatura y los umbrales de tolerancia para activar las alertas necesarias.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="" class="btn7 degradientBoton"><img class="bussines-img-all bussines-img6" src="../../../../assets/images/Umbral.svg"
                            alt="bussines"></a>
                </div> -->

            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <footer>IntelControl &copy; 2020 -  Desarrollado por <img class="bussines" src="../../../../assets/images/Logo_FriendSoft.png" alt="bussines"></footer>


