
    <div class="contenedorlogo">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-md-2 col-lg-2">
                    <a href="" class="logoIntel"><img class="logo" src="../../../../assets/images/LogoIntelControl.png"
                            alt="logo Intel control"></a>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-8" style="text-align: center;">
                    <a href="" class="logoIntel"><img class="logoTemp" src="../../../../assets/images/Logo_tempsense-02.svg"
                            alt="logo Intel control"></a>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-2 btnInicio">
                    <div class="btn-group">
                        <li class="dropdown" dropdown>
                            <a dropdownToggle role="button">
                                <img class="IconUser" src="../../../../assets/images/usuario.svg" alt="usuario Intel control">
                            </a>
                            <ul *dropdownMenu class="dropdown-menu">
                                <li><a href="#" class="menu-drop">Perfil</a></li>
                                <li><a href="#" class="menu-drop">Cerrar Sesion</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="contenedorPpal">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">

                <div class="col-xs-12 col-md-6 col-lg-3" id="ta">
                    <a href="" class="btn1 degradientBoton"><img class="bussines" src="../../../../assets/images/Incono1.svg"
                            alt="bussines"></a>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="" class="btn2 degradientBoton"><img class="bussines" src="../../../../assets/images/Incono2.svg"
                            alt="bussines"></a>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="" class="btn3 degradientBoton"><img class="bussines" src="../../../../assets/images/Incono3.svg"
                            alt="bussines"></a>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="" class="btn4 degradientBoton"><img class="bussines" src="../../../../assets/images/Incono4.svg"
                            alt="bussines"></a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="" class="btn5 degradientBoton"><img class="bussines" src="../../../../assets/images/Incono5.svg"
                            alt="bussines"></a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="" class="btn6 degradientBoton"><img class="bussines" src="../../../../assets/images/Incono6.svg"
                            alt="bussines"></a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="" class="btn7 degradientBoton"><img class="bussines" src="../../../../assets/images/Incono7.svg"
                            alt="bussines"></a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-3">
                    <a href="" class="btn8 degradientBoton"><img class="bussines" src="../../../../assets/images/Incono8.svg"
                            alt="bussines"></a>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <footer>IntelControl &copy; 2020 -  Desarrollado por <img class="bussines" src="../../../../assets/images/Logo_FriendSoft.png" alt="bussines"></footer>
